@import url('https://fonts.googleapis.com/css?family=Orbitron');

body{
    background-image: url("city.jpg")
}

.Letra-Customizada {
    font-family: 'Orbitron', sans-serif;
	background-image: url(background_letra.gif);
	color: rgba(0,255,255,0);
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 60px;
}

.btn {
    background-image: url(background_letra.gif)
}


.row{
    flex-wrap: unset !important;
}

.card li{
    width: 6rem;
    height: 2.5rem;
}

.list-group-item{
    padding: .1rem 0.7rem !important;
}

.card{
    cursor: pointer;
    background-color: green;
    transition: transform .2s;
    margin: 0 auto;
}

ul:hover li{
    background-image: url(background_letra.gif);
    color: white;
}

.card:hover {
    transform: scale(1.15);
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 5px 10px 18px #3f3d3d;
}

.ul:hover {  
    border: 1px solid rgba(0,0,0,.125);
}