.movie_01 {
    color: red;
    margin: 5px;
    cursor: pointer;
  }
.movie_02 {
color: blue;
margin: 5px;
cursor: pointer;
}
.movie_03 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_03 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_05 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_06 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}

.movie_01 {
color: blue;
margin: 5px;
cursor: pointer;
}


 
  .default {
    color: grey;
    margin: 5px;
    cursor: pointer;
  }
