
body{
    background-image:  url("gramado/campo-de-futebol-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Modal CSS */

#boxes .window {
    position: fixed;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}

#boxes #dialog {
    background: white;
    width:375px;
    height:300px;
}

.close {
    display:block; 
    text-align:right;
}  
/* FIM Modal CSS */


#titulo-campeonato{
    font-family: 'Monoton', cursive;
    font-size: 300%;
    text-align: center;
    color: whitesmoke;
}


#botao-regras{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 45.7% 3%;
    cursor: pointer;
}

.times-oitavas{
    margin: 3.5% auto 0;
    width:80%;
    height:11.5%;
    border-style: solid;
    border-color: black;
}

.times-quartas{
    margin: 30% auto 0;
    width:80%;
    height:11.5%;
    border-style: solid;
    border-color: black;
}

.times-semi{
    margin: 160% auto 0;
    width:100%;
    height:11.5%;
    border-style: solid;
    border-color: black;
}

.times-final{
    margin: 280% auto 0;
    width:100%;
    height:11.5%;
    border-style: solid;
    border-color: black;
}

#quartas-container-2{

    margin-top:50%; 
}

#quartas-container-4{

    margin-top:50%; 
}

#semi-2{

    margin-top: 250%;
}

#semi-4{

    margin-top: 250%;
}

#final-1{
    margin-top: 310%;
}

#final-2{
    margin-top: 310%;
}


/* Times de Oitava: Escudos */

#oitava-1{
    background-image: url("times-escudos/180px-Escudo_do_Galo_Atual.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}
#oitava-2{
    background-image: url("times-escudos/bahia-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-3{
    background-image: url("times-escudos/botafogo-escudo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-4{
    background-image: url("times-escudos/Ceara-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-5{
    background-image: url("times-escudos/cruzeiro1-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-6{
    background-image: url("times-escudos/escudo-do-Corinthians.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-7{
    background-image: url("times-escudos/flamengo-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-8{
    background-image: url("times-escudos/fluminense-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-9{
    background-image: url("times-escudos/fortaleza-escudo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-10{
    background-image: url("times-escudos/gremio-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-11{
    background-image: url("times-escudos/inter-escudo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-12{
    background-image: url("times-escudos/palmeiras-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-13{
    background-image: url("times-escudos/santos-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-14{
    background-image: url("times-escudos/sao-paulo-logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-15{
    background-image: url("times-escudos/sport-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#oitava-16{
    background-image: url("times-escudos/vasco-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}